<!DOCTYPE html>
<html>
    <head>
        <title>Helo Home Page</title>
    </head>
    <body>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="profileImage" />
            <input type="text" name="profileImage123" />
            <button type="submit">Upload</button>
        </form>
    </body>
</html>